* {
    --c-main: #b2e735;
    --c-back: #161820;
    --c-on-back: #fff;
    --c-on-back-h: #c0c5c994;
    --c-on-back-2: #21242c;
    margin: 0;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    color: var(-c-back);
    font-size: 1.05em;
}

body {
    scroll-behavior: smooth;
    display: grid;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("background.svg");
}

.box {
    position: relative;
    display: grid;
    min-height: calc(100vh - 4em);
    max-height: max-content;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

#topBox {
    font-size: 1.5em;
    margin: auto;
    border-radius: 1em;
    overflow: hidden;
}

#topBox p {
    border-radius: 1.5em;
    margin: .5em;
    transition: all .1s ease-in-out;
    background: var(--c-on-back);
    padding: .5em;
}

#topBox iframe, #topBox video {
    background: var(--c-on-back-2);
    width: 560;
    height: 315;
}

.wrp {
    height: 100%;
    max-width: 80vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

#stdout span {
    display: inline-block;
    border-radius: 1.5em;
    padding: .5em;
    margin: .4em;
    max-width: 80vw;
    width: max-content;
    height: max-content;
    word-wrap: break-word;
    color: var(--c-back);
    background: var(--c-on-back);
    transition: all 1s;
}

#stdout .load {
    color: var(--c-on-back-2);
    background: var(--c-on-back-2);
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.ico svg {
    width: 1em;
    padding: .25em;
    fill: var(--c-on-back);
    background: transparent;
    border-radius: 1em;
    transition: all .1s ease-in-out;
}

.ico svg:hover {
    background: var(--c-on-back-h);
    transform: scale(1.1);
}

#stdin {
    border-radius: 1em;
    background-color: var(--c-main);
    color: var(--c-back);
    max-width: 90vw;
    max-height: 10vh;
    min-width: 8em;
    padding: .5em;
    width: max-content;
    word-wrap: break-word;
    break-after: right;
    overflow-y: scroll;
    scrollbar-width: none;
}

#stdin:before {
    content: "~$ ";
    transition: all .4s ease-in-out;
}

#stdin:empty:after {
    content: "write here";
    white-space: nowrap;
    overflow: hidden;
    padding-right: .1em;
    border-right: .1em solid var(--c-back);
    max-width: 22ch;
    animation: typing 1s steps(22), blink .5s infinite alternate;
}

@keyframes typing {
    0% {
        content: "w";
    }
    10% {
        content: "wr";
    }
    20% {
        content: "wri";
    }
    30% {
        content: "writ";
    }
    40% {
        content: "write";
    }
    50% {
        content: "write ";
    }
    60% {
        content: "write h";
    }
    70% {
        content: "write he";
    }
    80% {
        content: "write her";
    }
    90% {
        content: "write here";
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("Ubuntu.ttf") format('woff2');
}