* {
    --c-main: #e73535;
    --c-back: #161820;
    --c-shadow: #1e1f24;
    --c-on-back: 255, 255, 255;
    --c-on-back-on: #c7c7c7;
    --c-on-back-h: #ffffff;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: var(-c-back);
    font-size: 1.05em;
}

body {
    scroll-behavior: smooth;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("background.svg");
}

a {
    color: var(--c-main);
}

.notifs {
    position: absolute;
    max-width: 50%;
    top: 0;
    right: 0;
}

.notifs>p {
    animation: notif 5s;
    color: var(--c-back);
    background: rgba(var(--c-on-back), .8);
    border-radius: 1em;
    max-width: max-content;
    scrollbar-width: none;
    padding: .5em;
    margin: 1em 1em 0 0;
    position: relative;
    transition: all .5s ease-in;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.box>div {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.top {
    font-size: 1.5em;
    margin: auto;
    border-radius: 1em;
    overflow: hidden;
    border-radius: 1.5em;
}

.top>p {
    max-width: 90vw;
    border-radius: 1.5em;
    transition: all .1s ease-in-out;
    background: rgb(var(--c-on-back));
    padding: .5em;
    width: fit-content;
}

.top>iframe, .top>video {
    background: var(--c-on-back-2);
    width: 560;
    height: 315;
}

.box>div:nth-child(1) {
    min-height: calc(100vh - 8em);
    display: grid;
    grid-template-rows: min-content;
}

.box>div>p>.help {
    line-height: 1.5em;
    text-align: left;
    padding: 1em;
}

.box>div>p>span {
    max-width: 80vw;
    display: inline-block;
    border-radius: 1.5em;
    padding: .5em;
    margin: .4em;
    width: max-content;
    height: max-content;
    word-wrap: break-word;
    color: var(--c-back);
    background: rgb(var(--c-on-back));
    transition: all 2s;
}

.box>div kbd {
    background: var(--c-on-back-on);
    padding: .2em;
    font-size: 90%;
    border-radius: .5em;
    box-shadow: var(--c-shadow);
}

.box>div>p>.load {
    color: var(--c-back);
    background: var(--c-back);
}

.btm>div svg {
    user-select: none;
    width: 1em;
    padding: .25em;
    fill: rgb(var(--c-on-back));
    background: transparent;
    border-radius: 1em;
    transition: all .1s ease-in-out;
}

.btm>div svg:hover {
    background: rgba(var(--c-on-back), .4);
    transform: scale(1.1);
}

.btm>p {
    max-width: 90vw;
    justify-self: center;
    border-radius: 1em;
    background-color: var(--c-main);
    color: var(--c-back);
    min-width: 6.5em;
    padding: .5em;
    word-wrap: break-word;
    break-after: right;
    overflow-y: scroll;
    scrollbar-width: none;
}

.btm>p:before {
    content: "> ";
}

.btm>p:empty:after {
    content: "write here";
    white-space: nowrap;
    padding-right: .1em;
    border-right: .1em solid var(--c-back);
    animation: typing 1s, blink .5s infinite alternate;
}

@keyframes notif {
    0% {
        top: -5em;
        opacity: 0;
    }
    20%, 80% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 5em;
        opacity: 0;
    }
}

@keyframes typing {
    0% {
        content: "w";
    }
    10% {
        content: "wr";
    }
    20% {
        content: "wri";
    }
    30% {
        content: "writ";
    }
    40% {
        content: "write";
    }
    50% {
        content: "write ";
    }
    60% {
        content: "write h";
    }
    70% {
        content: "write he";
    }
    80% {
        content: "write her";
    }
    90% {
        content: "write here";
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("Ubuntu.ttf") format('woff2');
}